* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* background-color: rgb(8, 3, 15); */
    /* position: fixed; */
    /* color: white; */
    background-repeat: no-repeat;
    background-size: cover;
  }
  header {
    display: flex;
    justify-content: space-between;
    background-color: black;
  }
  .nav {
    width: 25vw;
    padding-left: 40px;
    align-items: center;
  }
  #menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    /* flex-direction: row; */
    font-weight: 25px;
    width: 50vw;
    justify-content: center;
  }
  #menu li {
    margin: 0px 5px 0px 5px;
  }
  /*--------------------------------------- LOGIN SECTION---------------------------------------------------- */
  modal-content {
    display: flex;
    flex-direction: row;
    height: 400px;
  }
  .modal-left {
    height: 100%;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    justify-content: center;
    align-items: center;
  }
  #login-section {
    display: flex;
    flex-direction: row;
    height: 362px;
    /* justify-items: left; */
  }
  #login-section form {
    height: 200px;
    justify-content: center;
    width: 100%;
  }
 
  #login-section form, .login-sec{
    display: flex;
    flex-direction: column;
  }
  
  /* .modal-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
  } */
  .login-sec {
    font-weight: 600;
    padding: 10px 10px 7px;
    border: 2px solid rgb(221, 209, 209);
    border-radius: 4px;
    background-color: black;
    color: wheat;
    margin-bottom: 15px;
    justify-items: left;
    box-shadow: 4px solid slategray;
  }
  .login-sec input {
    /* background-color: wheat;
    color: rgb(83, 19, 19); */
    /* font-weight: bold; */
    padding: 5px 0px 0px;
    outline: 0;
    border: 0;
    border-radius: 10px;
    background-color: transparent;
  }
  .login-sec label {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    padding-top: 1px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: small;
  }
  .login-sec :-ms-input-placeholder{
    color: rgb(65, 63, 66);
    opacity: 2;
  }
  .login-sec:focus-within{
    border-color: black;
  }
  .login-btn {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .login-rem {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
  }
  .login-sec input:hover{
    background-color: aliceblue;
  }
  #login-section form,
  .login-sec {
    display: flex;
    flex-direction: column;
  }
  .login-sub input {
    padding: 4px;
    width: 50px;
    height: 38px;
    background-color: black;
    color: wheat;
    border: none;
    border-radius:  10px;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
  }
  
  .account {
    margin-top: 20px;
    /* font-weight: bold; */
  }
  #signup-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  margin: 5px;
  margin-left: 20px;
  padding: 3px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: wheat;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  }
  #signup-button:hover{
    background-color:rgb(28, 39, 54);
    box-shadow: 4px 4px #888888
  }